[Unit]
Description=Glances System Monitoring (Server Mode)
After=network.target

[Service]
ExecStart=/usr/bin/glances -w
Restart=on-abort

[Install]
WantedBy=multi-user.target